## 階層式索引(level)

In [2]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.random.randn(9),
               index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])


s1
s1.index.names = ['index1','index2']
s1

index1  index2
a       1         0.757424
        2        -0.219749
        3         1.958854
b       1        -0.178408
        2        -0.704343
c       3         0.646702
        1        -0.691096
d       2         0.538413
        3         0.524597
dtype: float64

In [3]:
s1['a']

index2
1    0.757424
2   -0.219749
3    1.958854
dtype: float64

In [4]:
s1['a'][-2:]

index2
2   -0.219749
3    1.958854
dtype: float64

In [5]:
s1.unstack('index1')

index1         a         b         c         d
index2
1       0.757424 -0.178408 -0.691096       NaN
2      -0.219749 -0.704343       NaN  0.538413
3       1.958854       NaN  0.646702  0.524597

In [6]:
s1.unstack('index2')

index2         1         2         3
index1
a       0.757424 -0.219749  1.958854
b      -0.178408 -0.704343       NaN
c      -0.691096       NaN  0.646702
d            NaN  0.538413  0.524597

In [8]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
#拿到資料後建議先給index、column名字
frame.columns.names = ['縣市','顏色'] 
frame.index.names = ['key1','key2']
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [9]:
#先變成非堆疊資料
s2 = frame.stack(['縣市','顏色'],future_stack=True)
s2

key1  key2  縣市  顏色
a     1     台北  Green     0
                Red       1
            台中  Green     2
      2     台北  Green     3
                Red       4
            台中  Green     5
b     1     台北  Green     6
                Red       7
            台中  Green     8
      2     台北  Green     9
                Red      10
            台中  Green    11
dtype: int64

In [11]:
s2.unstack(['key1','縣市'])

key1          a          b
縣市           台北   台中    台北    台中
key2 顏色
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN

In [12]:
s2.unstack(['key1','縣市','顏色'])

key1     a               b
縣市      台北        台中    台北        台中
顏色   Green Red Green Green Red Green
key2
1        0   1     2     6   7     8
2        3   4     5     9  10    11

In [14]:
s2.unstack(['縣市','顏色','key2'])

縣市      台北        台中    台北        台中
顏色   Green Red Green Green Red Green
key2     1   1     1     2   2     2
key1
a        0   1     2     3   4     5
b        6   7     8     9  10    11

In [16]:
frame.groupby(level='key1').sum()

縣市      台北        台中
顏色   Green Red Green
key1
a        3   5     7
b       15  17    19