In [1]:
#list comprehens->快速建立list
[f'{num}號'for num in range(1,51)]

['1號',
 '2號',
 '3號',
 '4號',
 '5號',
 '6號',
 '7號',
 '8號',
 '9號',
 '10號',
 '11號',
 '12號',
 '13號',
 '14號',
 '15號',
 '16號',
 '17號',
 '18號',
 '19號',
 '20號',
 '21號',
 '22號',
 '23號',
 '24號',
 '25號',
 '26號',
 '27號',
 '28號',
 '29號',
 '30號',
 '31號',
 '32號',
 '33號',
 '34號',
 '35號',
 '36號',
 '37號',
 '38號',
 '39號',
 '40號',
 '41號',
 '42號',
 '43號',
 '44號',
 '45號',
 '46號',
 '47號',
 '48號',
 '49號',
 '50號']

In [2]:
import numpy as np
import pandas as pd
array_2d=np.random.randint(50,100,size=(50,5))
df1= pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index=[f'{num}號'for num in range(1,51)])
df1

     國文  英文  數學  地理  社會
1號   74  67  73  82  99
2號   69  85  92  74  60
3號   59  59  73  53  63
4號   52  96  73  69  85
5號   90  57  61  72  69
6號   68  98  57  70  96
7號   64  99  96  84  92
8號   89  64  94  93  84
9號   89  74  95  83  82
10號  55  52  53  61  64
11號  58  65  68  90  88
12號  50  99  65  65  96
13號  84  59  73  77  89
14號  79  93  81  51  73
15號  64  60  56  50  65
16號  63  59  81  86  72
17號  78  51  66  98  68
18號  62  87  93  99  72
19號  96  56  86  61  99
20號  74  93  65  56  54
21號  89  62  57  85  73
22號  86  72  51  53  52
23號  57  53  90  67  86
24號  85  64  97  61  86
25號  80  61  89  85  51
26號  83  96  63  62  60
27號  56  96  55  75  58
28號  96  82  61  94  86
29號  94  62  85  94  67
30號  97  54  61  69  51
31號  90  57  60  51  87
32號  66  88  51  91  94
33號  86  98  54  61  97
34號  65  63  74  51  92
35號  82  83  82  86  53
36號  61  98  76  84  85
37號  71  81  73  79  55
38號  85  57  81  98  67
39號  87  77  59  55  52
40號  85  69  96  60  94
41號  59  78  71  68  78
42號  68  71  74  62  71
43號  72  61  52  63  59
44號  92  76  61  66  87
45號  55  57  99  76  68
46號  50  51  99  54  61
47號  80  58  88  66  95
48號  67  60  60  73  56
49號  64  71  98  97  91
50號  57  74  50  73  59

In [3]:
#daraFrame[取出ndarray]
df1.values

array([[74, 67, 73, 82, 99],
       [69, 85, 92, 74, 60],
       [59, 59, 73, 53, 63],
       [52, 96, 73, 69, 85],
       [90, 57, 61, 72, 69],
       [68, 98, 57, 70, 96],
       [64, 99, 96, 84, 92],
       [89, 64, 94, 93, 84],
       [89, 74, 95, 83, 82],
       [55, 52, 53, 61, 64],
       [58, 65, 68, 90, 88],
       [50, 99, 65, 65, 96],
       [84, 59, 73, 77, 89],
       [79, 93, 81, 51, 73],
       [64, 60, 56, 50, 65],
       [63, 59, 81, 86, 72],
       [78, 51, 66, 98, 68],
       [62, 87, 93, 99, 72],
       [96, 56, 86, 61, 99],
       [74, 93, 65, 56, 54],
       [89, 62, 57, 85, 73],
       [86, 72, 51, 53, 52],
       [57, 53, 90, 67, 86],
       [85, 64, 97, 61, 86],
       [80, 61, 89, 85, 51],
       [83, 96, 63, 62, 60],
       [56, 96, 55, 75, 58],
       [96, 82, 61, 94, 86],
       [94, 62, 85, 94, 67],
       [97, 54, 61, 69, 51],
       [90, 57, 60, 51, 87],
       [66, 88, 51, 91, 94],
       [86, 98, 54, 61, 97],
       [65, 63, 74, 51, 92],
       [82, 83, 82, 86, 53],
       [61, 98, 76, 84, 85],
       [71, 81, 73, 79, 55],
       [85, 57, 81, 98, 67],
       [87, 77, 59, 55, 52],
       [85, 69, 96, 60, 94],
       [59, 78, 71, 68, 78],
       [68, 71, 74, 62, 71],
       [72, 61, 52, 63, 59],
       [92, 76, 61, 66, 87],
       [55, 57, 99, 76, 68],
       [50, 51, 99, 54, 61],
       [80, 58, 88, 66, 95],
       [67, 60, 60, 73, 56],
       [64, 71, 98, 97, 91],
       [57, 74, 50, 73, 59]])

In [ ]:
#dataFrame[欄位名稱] subscript
df1['國文'], df1['英文']

In [13]:
#Series的選取,使用subscript
#Series[數值的index]
df1['國文'][0]
#Series[數值的slice]
df1['國文'][:5]
#Series[字串的index]
df1['國文']['1號']
#Series[[字串,字串,字串]]
df1['國文'][['1號','2號','3號']]

/tmp/ipykernel_26325/3302853721.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1['國文'][0]

1號    74
2號    69
3號    59
Name: 國文, dtype: int64

In [14]:
#dadaFrame的subscripts
#dataFrame[[欄位名稱,欄位名稱]]
df1[['國文','英文']]

     國文  英文
1號   74  67
2號   69  85
3號   59  59
4號   52  96
5號   90  57
6號   68  98
7號   64  99
8號   89  64
9號   89  74
10號  55  52
11號  58  65
12號  50  99
13號  84  59
14號  79  93
15號  64  60
16號  63  59
17號  78  51
18號  62  87
19號  96  56
20號  74  93
21號  89  62
22號  86  72
23號  57  53
24號  85  64
25號  80  61
26號  83  96
27號  56  96
28號  96  82
29號  94  62
30號  97  54
31號  90  57
32號  66  88
33號  86  98
34號  65  63
35號  82  83
36號  61  98
37號  71  81
38號  85  57
39號  87  77
40號  85  69
41號  59  78
42號  68  71
43號  72  61
44號  92  76
45號  55  57
46號  50  51
47號  80  58
48號  67  60
49號  64  71
50號  57  74

In [ ]:
#dataFrame的列的選取
#loc[字串]
#iloc[數值索引]

In [15]:
#選取1號
df1.loc['1號']

國文    74
英文    67
數學    73
地理    82
社會    99
Name: 1號, dtype: int64

In [17]:
#選取1號,2號,3號
#loc[[字串,字串]]
df1.loc[['1號','2號','3號']]

#兩個以上的serice 就會變成dataframe

    國文  英文  數學  地理  社會
1號  74  67  73  82  99
2號  69  85  92  74  60
3號  59  59  73  53  63

In [19]:
#選取前5位
#iloc[index:index]
df1.iloc[:5]

    國文  英文  數學  地理  社會
1號  74  67  73  82  99
2號  69  85  92  74  60
3號  59  59  73  53  63
4號  52  96  73  69  85
5號  90  57  61  72  69

In [20]:
#選取後5位
#iloc[數值索引:數值索引]
df1.iloc[-5:]

     國文  英文  數學  地理  社會
46號  50  51  99  54  61
47號  80  58  88  66  95
48號  67  60  60  73  56
49號  64  71  98  97  91
50號  57  74  50  73  59