In [35]:
import numpy as np
import pandas as pd

scores = pd.DataFrame(np.random.randint(50,101,size=(50,5)),
             columns=['國文', '英文', '數學', '地理', '歷史'],
             index=range(1,51))
scores

    國文   英文  數學   地理   歷史
1   59   76  90   77   61
2   85   63  92   71   68
3   59   87  58   77   95
4   82   50  62   51   51
5   85   89  98   88   74
6   69   80  64   89   51
7   63   73  97   93   75
8   72   91  94   55   88
9   64   72  96   72   59
10  67   77  68   75   66
11  73   86  60   98   96
12  67   62  65   96   58
13  87   87  95   58   59
14  72   89  73   77   92
15  80   79  84   94   97
16  71  100  55   85   62
17  98   56  76   87   54
18  74   97  52   94   71
19  70   54  63   59   94
20  77   85  89   52   77
21  95   79  56   85  100
22  77   85  70   95   58
23  67   51  96   59   53
24  66   55  95   88   98
25  70   81  81   57   91
26  66   66  65   68   96
27  52   58  70   98   56
28  52   55  76   68   89
29  53   99  80   80   65
30  78   74  91   90   72
31  61   84  50   94   75
32  86   86  88   93   64
33  56   53  84   50  100
34  75   54  84   96   64
35  66   92  70   62   90
36  91   77  59  100   74
37  56   64  65   96   64
38  92   83  58   93   69
39  93   60  55   80   87
40  90   77  96   86   61
41  93   86  91   69  100
42  55   53  69   52   82
43  81   74  93   84   57
44  60   95  83   97   65
45  61   92  95   69   82
46  81   90  70   79   70
47  84   62  89   98   90
48  93   92  80   80   57
49  87   97  93   67   95
50  74   71  77   79   73

In [36]:
def abc(s):
    return s.max()
scores.apply(abc)

國文     98
英文    100
數學     98
地理    100
歷史    100
dtype: int64

In [37]:
def abc(s):
    return pd.Series([s.min(),s.max(),s.mean()],index=['最低分','最高分','平均'])
scores.apply(abc)

       國文      英文    數學     地理     歷史
最低分  52.0   50.00  50.0   50.0   51.0
最高分  98.0  100.00  98.0  100.0  100.0
平均   73.7   75.96  77.2   79.2   74.9

In [ ]:
scores.index = scores.index.map(lambda i:f'{i}號')
scores.index = scores.index.str.replace(r'號+', '號', regex=True)
scores

In [75]:
def abc1(item):
    less_student = item[item < 60]
    less_count = less_student.count()
    less_str = ",".join(less_student.index.values.tolist())
    
    return pd.Series([item.sum(),item.mean(),less_count,less_str],index=['總分','平均','不及格科目數','不及格科目'])
scores.apply(abc1,axis=1)

      總分    平均  不及格科目數     不及格科目
1號   363  72.6       1        國文
2號   379  75.8       0
3號   376  75.2       2     國文,數學
4號   296  59.2       3  英文,地理,歷史
5號   434  86.8       0
6號   353  70.6       1        歷史
7號   401  80.2       0
8號   400  80.0       1        地理
9號   363  72.6       1        歷史
10號  353  70.6       0
11號  413  82.6       0
12號  348  69.6       1        歷史
13號  386  77.2       2     地理,歷史
14號  403  80.6       0
15號  434  86.8       0
16號  373  74.6       1        數學
17號  371  74.2       2     英文,歷史
18號  388  77.6       1        數學
19號  340  68.0       2     英文,地理
20號  380  76.0       1        地理
21號  415  83.0       1        數學
22號  385  77.0       1        歷史
23號  326  65.2       3  英文,地理,歷史
24號  402  80.4       1        英文
25號  380  76.0       1        地理
26號  361  72.2       0
27號  334  66.8       3  國文,英文,歷史
28號  340  68.0       2     國文,英文
29號  377  75.4       1        國文
30號  405  81.0       0
31號  364  72.8       1        數學
32號  417  83.4       0
33號  343  68.6       3  國文,英文,地理
34號  373  74.6       1        英文
35號  380  76.0       0
36號  401  80.2       1        數學
37號  345  69.0       1        國文
38號  395  79.0       1        數學
39號  375  75.0       1        數學
40號  410  82.0       0
41號  439  87.8       0
42號  311  62.2       3  國文,英文,地理
43號  389  77.8       1        歷史
44號  400  80.0       0
45號  399  79.8       0
46號  390  78.0       0
47號  423  84.6       0
48號  402  80.4       1        歷史
49號  439  87.8       0
50號  374  74.8       0

## 分別解析

In [ ]:
def abc1(item):
    return pd.Series([item.sum(),item.mean()],index=['總分','平均'])
scores.apply(abc1,axis=1)

In [68]:
one_student = scores.iloc[0]
less_student = one_student[one_student < 60]
less_student

國文    59
Name: 1號, dtype: int64

In [69]:
less_student.count()
",".join(less_student.index.values.tolist())

'國文'

In [70]:
less_student.count()
less_student_1=less_student.index
less_student_1

Index(['國文'], dtype='object')